#BigViewLandingPage-Section1 {
    height: 945px;
    width: 100vw;
    background-color: #2c2c2c;
}

.BigViewLandingPage-Background-Container {
    position: absolute;
    z-index: 1;
}

.BigViewLandingPage-Section1-Background1 {
    width: 675.5px;
    height: 953px;
    margin-top: -8px;
    position: absolute;
}

.BigViewLandingPage-Section1-Background2 {
    width: 500px;
    height: 503.39px;
    margin-left: 861px;
    margin-top: 226.5px;
}

.BigViewLandingPage-Content-Container {
    position: absolute;
    z-index: 2;
    color: white;
    margin-left: 143px;
}

.BigViewLandingPage-Section1-Title {
    margin-top: 224px;
    width: 654px;
    font-family: poppins-700;
    font-size: 80px;
    letter-spacing: -0.5px;
    line-height: 100px;
}

.BigViewLandingPage-Section1-Desc {
    font-size: 22px;
    font-family: poppins-500;
    line-height: 30px;
    margin-top: 30px;
}

.BigViewLandingPage-Section1-Button-Container {
    position: relative;
    top: 35px;
}

.BigViewLandingPage-Section1-Button {
    background: #009ffd;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 18px;
    font-family: poppins-700;
    line-height: 27px;
    color: white;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.BigViewLandingPage-Section1-Button:hover {
    border: 1px solid #009ffd;
    color: #009ffd;
    background-color: white;
}

@media screen and (max-width: 1440px) {
    .BigViewLandingPage-Content-Container {
        transform: scale(0.9);
        margin-left: 100px;
    }
    .BigViewLandingPage-Section1-Background2 {
        margin-left: 780px;
    }
}

@media screen and (max-width: 1400px) {
    .BigViewLandingPage-Content-Container {
        margin-left: 50px;
    }
    .BigViewLandingPage-Section1-Background2 {
        margin-left: 750px;
    }
}

@media screen and (max-width: 1300px) {
    .BigViewLandingPage-Section1-Background1 {
        margin-left: -50px;
    }
    .BigViewLandingPage-Content-Container {
        transform: scale(0.85);
        margin-left: 30px;
    }
    .BigViewLandingPage-Section1-Background2 {
        margin-left: 700px;
        width: calc(0.9 * 500px);
        height: calc(0.9 * 503.39px);
    }
}

@media screen and (max-width: 1150px) {
    .BigViewLandingPage-Content-Container {
        transform: scale(0.75);
        margin-left: -20px;
    }
    .BigViewLandingPage-Section1-Background2 {
        margin-left: 620px;
        width: calc(0.85 * 500px);
        height: calc(0.85 * 503.39px);
    }
}

@media screen and (max-width: 1100px) {
    .BigViewLandingPage-Content-Container {
        transform: scale(0.7);
        margin-left: -40px;
    }
    .BigViewLandingPage-Section1-Background2 {
        margin-left: 570px;
        width: calc(0.8 * 500px);
        height: calc(0.8 * 503.39px);
    }
}
